In [247]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [248]:
data = pd.read_csv('tennis.csv')

In [249]:
data = data.drop('day', axis=1)

In [250]:
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [251]:
cleanup = {"outlook": {"Sunny": 2, "Overcast": 1, "Rain": 0},
            "temp": {"Hot": 2, "Mild": 1, "Cool": 0},
            "humidity": {"High": 1, "Normal": 0},
           "wind": {"Weak": 0, "Strong": 1},
           "play":{"No": 0, "Yes": 1}
          }

In [252]:
data.replace(cleanup, inplace=True)
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [253]:
data.head()

   outlook  temp  humidity  wind  play
0        2     2         1     0     0
1        2     2         1     1     0
2        1     2         1     0     1
3        0     1         1     0     1
4        0     0         0     0     1

In [309]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [310]:
clf = DecisionTreeClassifier(random_state = 0)

In [311]:
clf = clf.fit(X_train,y_train)

In [312]:
y_pred = clf.predict(X_test)

In [313]:
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0